* {
    box-sizing: border-box;
}
body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
.sidebar {
    margin-top: 50px;
    width: 300px;
    background-color: #111;
    color: #fff;
    min-height: 100vh;
    padding-top: 20px;
}
.sidebar a {
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    border-left: 4px solid transparent;
    transition: background 0.3s, border-color 0.3s;
}

.sidebar a:hover {
    background-color: #333;
}
.sidebar i {
    margin-right: 15px;
    font-size: 20px;
}
.header {
    width: 100%;
    background-color: #f4f4f4;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
   
.header .user {
    font-size: 16px;
    color: #555;
}