.main-content h2{
    padding: 10px 0;
}
table {
    width: 127%;
    border-collapse: collapse;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

thead th {
    background-color: #d9d9d9;
    padding: 12px;
    border-bottom: 2px solid black; /* viền xanh dương */
    text-align: left;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #888;
    vertical-align: top;
}

td a i {
    font-size: 24px;
    color: #000;
    display: block;
    text-align: center;
}

td:nth-child(3) {
    text-align: center; /* căn giữa icon trong ô "File" */
}

tr:hover {
    background-color: #f9f9f9;
}
